VITE_GAME_NAME=Wood Sort Master
VITE_GAME_VERSION=1.0.0
VITE_ANALYTICS_ENABLED=true
VITE_ADS_ENABLED=true
VITE_GAMEHUB_GAME_ID=1234
VITE_GAMEHUB_API_BASE_URL=https://backend-silk-theta-80.vercel.app
VITE_GAMEHUB_PUBLIC_KEY=ghpk_6071cd70a44e687c0fedc44293236dec09f5a05567e4046d
VITE_GAMEHUB_TEST_MODE=false
